<ion-view class="background" style="background-color: #ecf0f1;" title="Apprehension - Improved by Distraction" id="page462">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="apprehensionImprovedByDistraction-heading1471" style="color:#000000;text-align:center;"> Products</h4>
    <form id="apprehensionImprovedByDistraction-form342" class="list">
      <ion-toggle toggle-class="toggle-calm" id="apprehensionImprovedByDistraction-toggle341" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="apprehensionImprovedByDistraction-markdown2518" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if symptoms of stress affect your sleep or disturb your daily life.</p>
    </div>
    
    <div class="list card" id="apprehensionImprovedByDistraction-card2864">
      <ion-item id="apprehensionImprovedByDistraction-list-item1263">Ignatia 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="apprehensionImprovedByDistraction-list-item-container1351">
        <div id="apprehensionImprovedByDistraction-markdown2521" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ignatia amara relieves symptoms of stress with hypersensitivity to pain, smell and stress, improved by distraction.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore_tab8()" id="apprehensionImprovedByDistraction-button1013" class="button button-calm button-block">Find Near You</a>
      <h5 id="apprehensionImprovedByDistraction-heading1473" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="apprehensionImprovedByDistraction-list-item-container1352">
        <div id="apprehensionImprovedByDistraction-markdown2522" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue twice a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="apprehensionImprovedByDistraction-card2865">
      <h4 id="apprehensionImprovedByDistraction-heading1474" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="apprehensionImprovedByDistraction-markdown2523" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="apprehensionImprovedByDistraction-markdown2524" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="apprehensionImprovedByDistraction-button1014" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>