<ion-view class="background" style="background-color: #ecf0f1;" title="Burning with Fissures" id="page67">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="burningWithFissures2-heading198" style="color:#000000;text-align:center;"> Products</h4>
    <form id="burningWithFissures2-form46" class="list">
      <ion-toggle toggle-class="toggle-calm" id="burningWithFissures2-toggle45" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="burningWithFissures2-markdown358" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="burningWithFissures2-markdown359" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if bleeding increases or persists more than a day.</p>
    </div>
    
    <div class="list card" id="burningWithFissures-card2109">
        <ion-item id="burningWithFissures-list-item228">Graphites 6C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="burningWithFissures-list-item-container193">
          <div id="burningWithFissures-markdown354" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Graphites relieves constipation without urges, very large and dry stools, with feeling of heaviness in the lower abdomen, and often associated with anal itching and burning and hemorrhoids.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore_tab8()" id="burningWithFissures-button138" class="button button-calm button-block">Find Near You</a>
        <h5 id="burningWithFissures-heading196" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="burningWithFissures-list-item-container194">
          <div id="burningWithFissures-markdown355" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      
    <h4 id="burningWithFissures2-heading203" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="burningWithFissures2-markdown368" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="burningWithFissures2-markdown369" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="burningWithFissures2-button144" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>