<ion-view class="background" style="background-color: #ecf0f1;" title="Chalazion (small bump on the eyelid)" id="page244">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="chalazionSmallBumpOnTheEyelid-heading780" style="color:#000000;text-align:center;"> Products</h4>
    <form id="chalazionSmallBumpOnTheEyelid-form189" class="list">
      <ion-toggle toggle-class="toggle-calm" id="chalazionSmallBumpOnTheEyelid-toggle188" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1379" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A chalazion is a small bump on the eyelid caused by blockage of an oil gland. It usually heals itself within a month. See a doctor if the chalazion gets bigger or does not heal, or if your vision changes.</p>
    </div>
    
    <div class="list card" id="chalazionSmallBumpOnTheEyelid-card2450">
      <ion-item id="chalazionSmallBumpOnTheEyelid-list-item665">Staphysagria 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container717">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1382" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Staphysagria relieves nodes, chalazia and sties on the eyelids.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="chalazionSmallBumpOnTheEyelid-button546" class="button button-calm button-block">Find Near You</a>
      <h5 id="chalazionSmallBumpOnTheEyelid-heading782" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container718">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1383" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="chalazionSmallBumpOnTheEyelid-heading784" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1386" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1387" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="chalazionSmallBumpOnTheEyelid-button548" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>