<ion-view class="background" style="background-color: #ecf0f1;" title="Cough - Worse in Bed" id="page80">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="coughWorseInBed-heading254" style="color:#000000;text-align:center;"> Products</h4>
    <form id="coughWorseInBed-form56" class="list">
      <ion-toggle toggle-class="toggle-calm" id="coughWorseInBed-toggle55" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="coughWorseInBed-markdown459" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consult a doctor if symptoms worsen or last more than 7 days.</p>
    </div>
 
    <div class="list card" id="coughWorseInBed-card2149">
      <ion-item id="coughWorseInBed-list-item297">Drosera 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="coughWorseInBed-list-item-container263">
        <div id="coughWorseInBed-markdown462" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Drosera relieves dry cough, worse at night and from the warmth of the bed, triggered by speaking or laughing, with a feeling of tickling in the throat. Drosera 3C is present in Chestal.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="coughWorseInBed-button184" class="button button-calm button-block">Find Near You</a>
      <h5 id="coughWorseInBed-heading256" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="coughWorseInBed-list-item-container264">
        <div id="coughWorseInBed-markdown463" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 4 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="coughWorseInBed-card2150">
      <h4 id="coughWorseInBed-heading257" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="coughWorseInBed-markdown464" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="coughWorseInBed-markdown465" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="homeopathy.homeopathicDilutions()" id="coughWorseInBed-button185" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>