<ion-view class="background" style="background-color: #ecf0f1;" title="Cramps in the Neck" id="page347">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="crampsInTheNeck-heading1100" style="color:#000000;text-align:center;"> Products</h4>
    <form id="crampsInTheNeck-form261" class="list">
      <ion-toggle toggle-class="toggle-calm" id="crampsInTheNeck-toggle260" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="crampsInTheNeck-markdown1877" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="crampsInTheNeck-markdown1878" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if the pain is caused by trauma (whiplash), or if you experience shooting pains, loss of strength, or change in bowel or bladder habits, as these signs could indicate a more serious condition.</p>
    </div>
  
    <div class="list card" id="crampsInTheNeck-card2660">
      <ion-item id="crampsInTheNeck-list-item926">Cimicifuga racemosa 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="crampsInTheNeck-list-item-container999">
        <div id="crampsInTheNeck-markdown1883" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Cimicifuga racemosa relieves neck pain and cramps caused by bad posture and aggravated by cold and humidity.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="crampsInTheNeck-button759" class="button button-calm button-block">Find Near You</a>
      <h5 id="crampsInTheNeck-heading1103" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="crampsInTheNeck-list-item-container1000">
        <div id="crampsInTheNeck-markdown1884" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="crampsInTheNeck-heading1104" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="crampsInTheNeck-markdown1885" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="crampsInTheNeck-markdown1886" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="crampsInTheNeck-button760" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>