<ion-view class="background" style="background-color: #ecf0f1;" title="Fever - Improved by staying immobile" id="page102">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="feverImprovedByStayingImmobile-heading317" style="color:#000000;text-align:center;"> Products</h4>
    <form id="feverImprovedByStayingImmobile-form71" class="list">
      <ion-toggle toggle-class="toggle-calm" id="feverImprovedByStayingImmobile-toggle70" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="feverImprovedByStayingImmobile-markdown560" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Check for fever frequently. Discontinue Aconitum when sweating occurs, and use Belladonna 6C. Consult a doctor if fever increases or if symptoms last more than 3 days. </p>
    </div>
  
    <div class="list card" id="feverImprovedByStayingImmobile-card2193">
      <ion-item id="feverImprovedByStayingImmobile-list-item280">Bryonia 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="feverImprovedByStayingImmobile-list-item-container321">
        <div id="feverImprovedByStayingImmobile-markdown565" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Bryonia relieves high fever with body aches improved by staying immobile.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="feverImprovedByStayingImmobile-button230" class="button button-calm button-block">Find Near You</a>
      <h5 id="feverImprovedByStayingImmobile-heading320" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="feverImprovedByStayingImmobile-list-item-container322">
        <div id="feverImprovedByStayingImmobile-markdown566" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="feverImprovedByStayingImmobile-card2194">
      <h4 id="feverImprovedByStayingImmobile-heading321" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="feverImprovedByStayingImmobile-markdown567" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="feverImprovedByStayingImmobile-markdown568" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="homeopathy.homeopathicDilutions()" id="feverImprovedByStayingImmobile-button231" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>