<ion-view class="background" style="background-color: #ecf0f1;" title="Fissures - With oozing and dry, crusty skin" id="page262">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="fissuresWithOozingAndDryCrustySkin-heading850" style="color:#000000;text-align:center;"> Products</h4>
    <form id="fissuresWithOozingAndDryCrustySkin-form206" class="list">
      <ion-toggle toggle-class="toggle-calm" id="fissuresWithOozingAndDryCrustySkin-toggle205" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="fissuresWithOozingAndDryCrustySkin-markdown1499" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if itching is intense, or if fissures become infected.</p>
    </div>
  
    <div class="list card" id="fissuresWithOozingAndDryCrustySkin-card2502">
      <ion-item id="fissuresWithOozingAndDryCrustySkin-list-item698">Graphites 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container787">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1502" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Graphites relieves fissures on dry skin, with oozing and crust.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="fissuresWithOozingAndDryCrustySkin-button598" class="button button-calm button-block">Find Near You</a>
      <h5 id="fissuresWithOozingAndDryCrustySkin-heading852" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container788">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1503" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue morning and evening. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="fissuresWithOozingAndDryCrustySkin-card2503">
      <h4 id="fissuresWithOozingAndDryCrustySkin-heading853" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="fissuresWithOozingAndDryCrustySkin-markdown1504" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="fissuresWithOozingAndDryCrustySkin-markdown1505" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="homeopathy.homeopathicDilutions()" id="fissuresWithOozingAndDryCrustySkin-button599" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>