<ion-view class="background" style="background-color: #ecf0f1;" title="Fitful Cough - With Nausea" id="page86">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="fitfulCoughWithNausea-heading275" style="color:#000000;text-align:center;"> Products</h4>
    <form id="fitfulCoughWithNausea-form61" class="list">
      <ion-toggle toggle-class="toggle-calm" id="fitfulCoughWithNausea-toggle60" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="fitfulCoughWithNausea-markdown494" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consult a doctor if symptoms worsen or last more than 7 days.</p>
    </div>
  
    <div class="list card" id="fitfulCoughWithNausea-card2164">
      <ion-item id="fitfulCoughWithNausea-list-item314">Ipecacuanha 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="fitfulCoughWithNausea-list-item-container283">
        <div id="fitfulCoughWithNausea-markdown497" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ipecacuanha relieves dry, fitful cough triggering nausea, and accompanied by hypersalivation. Ipecac 3C is present in Chestal.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="fitfulCoughWithNausea-button199" class="button button-calm button-block">Find Near You</a>
      <h5 id="fitfulCoughWithNausea-heading277" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fitfulCoughWithNausea-list-item-container284">
        <div id="fitfulCoughWithNausea-markdown498" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 4 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="fitfulCoughWithNausea-card2165">
      <h4 id="fitfulCoughWithNausea-heading278" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="fitfulCoughWithNausea-markdown499" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="fitfulCoughWithNausea-markdown500" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="homeopathy.homeopathicDilutions()" id="fitfulCoughWithNausea-button200" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>