<ion-view class="background" style="background-color: #ecf0f1;" title="Joint Pain - Worse with Motion" id="page352">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="jointPainWorseWithMotion-heading1122" style="color:#000000;text-align:center;"> Products</h4>
    <form id="jointPainWorseWithMotion-form266" class="list">
      <ion-toggle toggle-class="toggle-calm" id="jointPainWorseWithMotion-toggle265" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="jointPainWorseWithMotion-markdown1921" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="jointPainWorseWithMotion-markdown1922" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if you cannot use the joint, if you experience sudden swelling or redness, or if the pain is caused by trauma.</p>
    </div>
  
    <div class="list card" id="jointPainWorseWithMotion-card2672">
      <ion-item id="jointPainWorseWithMotion-list-item934">Bryonia 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="jointPainWorseWithMotion-list-item-container1029">
        <div id="jointPainWorseWithMotion-markdown1927" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Bryonia relieves joint pain improved by staying immobile and applying pressure. Bryonia 6C is present in Arnicare Arthritis.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="jointPainWorseWithMotion-button776" class="button button-calm button-block">Find Near You</a>
      <h5 id="jointPainWorseWithMotion-heading1125" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="jointPainWorseWithMotion-list-item-container1030">
        <div id="jointPainWorseWithMotion-markdown1928" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="jointPainWorseWithMotion-heading1126" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="jointPainWorseWithMotion-markdown1929" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="jointPainWorseWithMotion-markdown1930" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="jointPainWorseWithMotion-button777" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>