<ion-view class="background" style="background-color: #ecf0f1;" title="Muscle Stiffness - From Trauma" id="page372">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="muscleStiffnessFromTrauma-heading1223" style="color:#000000;text-align:center;"> Products</h4>
    <form id="muscleStiffnessFromTrauma-form286" class="list">
      <ion-toggle toggle-class="toggle-calm" id="muscleStiffnessFromTrauma-toggle285" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="muscleStiffnessFromTrauma-markdown2123" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">See a doctor immediately if there is an open wound or a grave injury.</p>
      </div>
    
      <div class="list card" id="muscleStiffnessFromTrauma-card2733">
        <ion-item id="muscleStiffnessFromTrauma-list-item996">Arnica montana 30C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="muscleStiffnessFromTrauma-list-item-container1151">
          <div id="muscleStiffnessFromTrauma-markdown2129" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Arnica montana relieves pain and stiffness from muscle overexertion.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore()" id="muscleStiffnessFromTrauma-button857" class="button button-calm button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromTrauma-heading1226" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromTrauma-list-item-container1152">
          <div id="muscleStiffnessFromTrauma-markdown2130" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
    </form>
    <h4 id="muscleStiffnessFromTrauma-heading1227" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="muscleStiffnessFromTrauma-markdown2131" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleStiffnessFromTrauma-markdown2132" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="muscleStiffnessFromTrauma-button858" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>