<ion-view class="background" style="background-color: #ecf0f1;" title="Muscle Overexertion" id="page360">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="muscleOverexertion-heading1166" style="color:#000000;text-align:center;"> Products</h4>
    <form id="muscleOverexertion-form274" class="list">
      <ion-toggle toggle-class="toggle-calm" id="muscleOverexertion-toggle273" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="muscleOverexertion-markdown2009" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Strenuous exercise can cause stiffness and cramping. Be sure to drink plenty of water. See a doctor if your legs become weak, or if pain and stiffness worsen.</p>
      </div>
      
      
      <div class="list card" id="muscleOverexertion-card2700">
        <ion-item id="muscleOverexertion-list-item962">Arnica montana 6C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="muscleOverexertion-list-item-container1085">
          <div id="muscleOverexertion-markdown2015" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Arnica montana relieves pain and stiffness from muscle overexertion </p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore()" id="muscleOverexertion-button812" class="button button-calm button-block">Find Near You</a>
        <h5 id="muscleOverexertion-heading1169" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleOverexertion-list-item-container1086">
          <div id="muscleOverexertion-markdown2016" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
    </form>
    <h4 id="muscleOverexertion-heading1171" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="muscleOverexertion-markdown2019" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleOverexertion-markdown2020" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="muscleOverexertion-button814" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>