<ion-view class="background" style="background-color: #ecf0f1;" title="Muscle Stiffness - From Physical Therapy" id="page370">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="muscleStiffnessFromPhysicalTherapy-heading1213" style="color:#000000;text-align:center;"> Products</h4>
    <form id="muscleStiffnessFromPhysicalTherapy-form284" class="list">
      <ion-toggle toggle-class="toggle-calm" id="muscleStiffnessFromPhysicalTherapy-toggle283" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="muscleStiffnessFromPhysicalTherapy-markdown2103" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">See a doctor if muscle soreness appears during exercise or after an injury or if it doesn't disappear within a week.</p>
      </div>
      
      <div class="list card" id="muscleStiffnessFromPhysicalTherapy-card2726">
        <ion-item id="muscleStiffnessFromPhysicalTherapy-list-item989">Rhus tox 6C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="muscleStiffnessFromPhysicalTherapy-list-item-container1137">
          <div id="muscleStiffnessFromPhysicalTherapy-markdown2107" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Rhus tox relieves muscular and articular pains at the beginning of motion, then improved by slow motion.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore()" id="muscleStiffnessFromPhysicalTherapy-button848" class="button button-calm button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromPhysicalTherapy-heading1215" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromPhysicalTherapy-list-item-container1138">
          <div id="muscleStiffnessFromPhysicalTherapy-markdown2108" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      <div class="list card" id="muscleStiffnessFromPhysicalTherapy-card2727">
        <ion-item id="muscleStiffnessFromPhysicalTherapy-list-item990">Arnica montana 30C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="muscleStiffnessFromPhysicalTherapy-list-item-container1139">
          <div id="muscleStiffnessFromPhysicalTherapy-markdown2109" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Arnica montana relieves pain and stiffness from muscle overexertion.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore()" id="muscleStiffnessFromPhysicalTherapy-button849" class="button button-calm button-block">Find Near You</a>
        <h5 id="muscleStiffnessFromPhysicalTherapy-heading1216" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="muscleStiffnessFromPhysicalTherapy-list-item-container1140">
          <div id="muscleStiffnessFromPhysicalTherapy-markdown2110" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
    </form>
    <h4 id="muscleStiffnessFromPhysicalTherapy-heading1217" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="muscleStiffnessFromPhysicalTherapy-markdown2111" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleStiffnessFromPhysicalTherapy-markdown2112" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="muscleStiffnessFromPhysicalTherapy-button850" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>