<ion-view class="background" style="background-color: #ecf0f1;" title="Sneezing" id="page25">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="sneezing-heading56" style="color:#000000;text-align:center;"> Products</h4>
    <form id="sneezing-form13" class="list">
      <ion-toggle toggle-class="toggle-calm" id="sneezing-toggle12" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="sneezing-markdown97" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="sneezing-markdown98" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Sneezing is a common symptom of allergies. Rinsing the nasal cavity with simple saline solution promotes relief. If facial pain or tenderness occurs, or if the discharge changes from watery to thick and purulent, see a doctor.</p>
    </div>
  
    <div class="list card" id="sneezing-card229">
      <ion-item id="sneezing-list-item118">Galphimia glauca 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="sneezing-list-item-container62">
        <div id="sneezing-markdown101" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Galphimia glauca relieves spasmodic sneezing caused by hay fever.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="sneezing-button43" class="button button-calm button-block">Find Near You</a>
      <h5 id="sneezing-heading58" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="sneezing-list-item-container63">
        <div id="sneezing-markdown102" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="sneezing-card231">
      <ion-item id="sneezing-list-item120">Histaminum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="sneezing-list-item-container66">
        <div id="sneezing-markdown107" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Histaminum relieves all symptoms of allergic origin.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="sneezing-button46" class="button button-calm button-block">Find Near You</a>
      <h5 id="sneezing-heading61" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="sneezing-list-item-container67">
        <div id="sneezing-markdown108" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="sneezing-card230">
      <ion-item id="sneezing-list-item119">Apis mellifica 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="sneezing-list-item-container64">
        <div id="sneezing-markdown103" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apis mellifica relieves nasal congestion with stinging pain, improved by cold air.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="sneezing-button44" class="button button-calm button-block">Find Near You</a>
      <h5 id="sneezing-heading59" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="sneezing-list-item-container65">
        <div id="sneezing-markdown104" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="sneezing-heading60" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="sneezing-markdown105" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="sneezing-markdown106" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="sneezing-button45" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>