<ion-view class="background" style="background-color: #ecf0f1;" title="Sprains - First 48 Hours" id="page448">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="sprainsFirst48Hours-heading1406" style="color:#000000;text-align:center;"> Products</h4>
    <form id="sprainsFirst48Hours-form328" class="list">
      <ion-toggle toggle-class="toggle-calm" id="sprainsFirst48Hours-toggle327" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="sprainsFirst48Hours-markdown2393" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Apply ice and elevate the limb to reduce swelling. See a doctor immediately if the sprain is severe or if you have a fever higher than 100°F. See a doctor if you are unable to bear weight on the injured leg.</p>
      </div>
     
      <div class="list card" id="sprainsFirst48Hours-card2822">
        <ion-item id="sprainsFirst48Hours-list-item1140">Ruta graveolens 6C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1247">
          <div id="sprainsFirst48Hours-markdown2397" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Ruta graveolens relieves strained ligaments and tendons.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore_tab8()" id="sprainsFirst48Hours-button962" class="button button-calm button-block">Find Near You</a>
        <h5 id="sprainsFirst48Hours-heading1408" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1248">
          <div id="sprainsFirst48Hours-markdown2398" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day for the first 48 hours. Then dissolve 5 pellets under the tongue twice a day for 3 weeks.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      <div class="list card" id="sprainsFirst48Hours-card2823">
        <ion-item id="sprainsFirst48Hours-list-item1141">Apis mellifica 30C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1253">
          <div id="sprainsFirst48Hours-markdown2399" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Apis mellifica relieves stinging, burning pain with swelling, and improved by cold.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore_tab8()" id="sprainsFirst48Hours-button963" class="button button-calm button-block">Find Near You</a>
        <h5 id="sprainsFirst48Hours-heading1409" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1254">
          <div id="sprainsFirst48Hours-markdown2400" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day for 2 days.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
      <div class="list card" id="sprainsFirst48Hours-card2824">
        <ion-item id="sprainsFirst48Hours-list-item1142">Bryonia 6C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg"  >
        </div>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1281">
          <div id="sprainsFirst48Hours-markdown2403" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Bryonia relieves pain worsened by the slightest motion.</p>
          </div>
        </div>
        <a ui-sref="homeopathy.findAStore_tab8()" id="sprainsFirst48Hours-button965" class="button button-calm button-block">Find Near You</a>
        <h5 id="sprainsFirst48Hours-heading1411" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="sprainsFirst48Hours-list-item-container1282">
          <div id="sprainsFirst48Hours-markdown2404" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day for 2 days.</p>
          </div>
        </div>
        <div class="spacer" style="height: 50px;"></div>
      </div>
    </form>
    <h4 id="sprainsFirst48Hours-heading1410" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="sprainsFirst48Hours-markdown2401" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="sprainsFirst48Hours-markdown2402" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="sprainsFirst48Hours-button964" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>