<ion-view class="background" style="background-color: #ecf0f1;" title="Stuffy Nose - Clogged ears" id="page136">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="stuffyNoseCloggedEars-heading403" style="color:#000000;text-align:center;"> Products</h4>
    <form id="stuffyNoseCloggedEars-form101" class="list">
      <ion-toggle toggle-class="toggle-calm" id="stuffyNoseCloggedEars-toggle100" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="stuffyNoseCloggedEars-markdown701" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consult a doctor if symptoms worsen or last more than 3 days.</p>
    </div>
    
    <div class="list card" id="stuffyNoseCloggedEars-card2248">
      <ion-item id="stuffyNoseCloggedEars-list-item405">Kali muriaticum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="stuffyNoseCloggedEars-list-item-container397">
        <div id="stuffyNoseCloggedEars-markdown709" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Kali muriaticum relieves nasal congestion with thick, whitish discharge and clogged ears with crackling noises, worsened by cold open air.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="stuffyNoseCloggedEars-button289" class="button button-calm button-block">Find Near You</a>
      <h5 id="stuffyNoseCloggedEars-heading438" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="stuffyNoseCloggedEars-list-item-container398">
        <div id="stuffyNoseCloggedEars-markdown766" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 4 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="stuffyNoseCloggedEars-card2273">
      <h4 id="stuffyNoseCloggedEars-heading439" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="stuffyNoseCloggedEars-markdown767" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="stuffyNoseCloggedEars-markdown770" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="homeopathy.homeopathicDilutions()" id="stuffyNoseCloggedEars-button314" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>