<ion-view class="background" style="background-color: #ecf0f1;" title="Triggered by Dampness and Cold" id="page351">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="triggeredByDampnessAndCold-heading1117" style="color:#000000;text-align:center;"> Products</h4>
    <form id="triggeredByDampnessAndCold-form265" class="list">
      <ion-toggle toggle-class="toggle-calm" id="triggeredByDampnessAndCold-toggle264" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="triggeredByDampnessAndCold-markdown1911" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="triggeredByDampnessAndCold-markdown1912" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if you cannot use the joint, if you experience sudden swelling or redness, or if the pain is caused by trauma.</p>
    </div>
   
    <div class="list card" id="triggeredByDampnessAndCold-card2669">
      <ion-item id="triggeredByDampnessAndCold-list-item931">Dulcamara 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="triggeredByDampnessAndCold-list-item-container1023">
        <div id="triggeredByDampnessAndCold-markdown1917" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dulcamara relieves muscular and joint pains worsened by damp and cold weather, with a general feeling of chilliness.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="triggeredByDampnessAndCold-button772" class="button button-calm button-block">Find Near You</a>
      <h5 id="triggeredByDampnessAndCold-heading1120" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="triggeredByDampnessAndCold-list-item-container1024">
        <div id="triggeredByDampnessAndCold-markdown1918" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="triggeredByDampnessAndCold-card2669">
      <ion-item id="triggeredByDampnessAndCold-list-item931">Rhus tox 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="triggeredByDampnessAndCold-list-item-container1023">
        <div id="triggeredByDampnessAndCold-markdown1917" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Rhus tox relieves muscular and articular pains at the beginning of motion, then improved by slow motion. Rhus tox 6C is present in Arnicare Arthritis.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="triggeredByDampnessAndCold-button772" class="button button-calm button-block">Find Near You</a>
      <h5 id="triggeredByDampnessAndCold-heading1120" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="triggeredByDampnessAndCold-list-item-container1024">
        <div id="triggeredByDampnessAndCold-markdown1918" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="triggeredByDampnessAndCold-heading1121" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="triggeredByDampnessAndCold-markdown1919" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="triggeredByDampnessAndCold-markdown1920" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="triggeredByDampnessAndCold-button773" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>