<ion-view class="background" style="background-color: #ecf0f1;" title="Wet Cough - Worse When In Bed" id="page520">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="wetCoughWorseWhenInBed-heading1652" style="color:#000000;text-align:center;"> Products</h4>
    <form id="wetCoughWorseWhenInBed-form394" class="list">
      <ion-toggle toggle-class="toggle-calm" id="wetCoughWorseWhenInBed-toggle393" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="wetCoughWorseWhenInBed-markdown2878" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consult a doctor if symptoms worsen or last more than 7 days.</p>
    </div>
   
    <div class="list card" id="wetCoughWorseWhenInBed-card2963">
      <ion-item id="wetCoughWorseWhenInBed-list-item1361">Pulsatilla 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="wetCoughWorseWhenInBed-list-item-container1517">
        <div id="wetCoughWorseWhenInBed-markdown2881" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Pulsatilla relieves wet cough with thick, yellowish phlegm, aggravated in bed. Pulsatilla 6C is present in Chestal.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore_tab8()" id="wetCoughWorseWhenInBed-button1151" class="button button-calm button-block">Find Near You</a>
      <h5 id="wetCoughWorseWhenInBed-heading1654" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="wetCoughWorseWhenInBed-list-item-container1518">
        <div id="wetCoughWorseWhenInBed-markdown2882" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 4 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="wetCoughWorseWhenInBed-card2964">
      <h4 id="wetCoughWorseWhenInBed-heading1655" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="wetCoughWorseWhenInBed-markdown2883" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="wetCoughWorseWhenInBed-markdown2884" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="wetCoughWorseWhenInBed-button1152" class="button button-calm button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>