<ion-view class="background" style="background-color: #ecf0f1;" title="Worsened by Moving the Limb" id="page431">
   <!--<ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>-->   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="worsenedByMovingTheLimb-heading1349" style="color:#000000;text-align:center;"> Products</h4>
    <form id="worsenedByMovingTheLimb-form311" class="list">
      <ion-toggle toggle-class="toggle-calm" id="worsenedByMovingTheLimb-toggle310" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="worsenedByMovingTheLimb-markdown2287" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="worsenedByMovingTheLimb-markdown2288" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Apply ice and elevate the limb to reduce swelling. Rest for 2 days, then gently start using the limb. See a doctor if the pain increases or interferes with your daily activities for more than a few days.</p>
    </div>
   
    <div class="list card" id="worsenedByMovingTheLimb-card2791">
      <ion-item id="worsenedByMovingTheLimb-list-item1225">Ruta graveolens 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="worsenedByMovingTheLimb-list-item-container1231">
        <div id="worsenedByMovingTheLimb-markdown2291" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ruta graveolens relieves strained ligaments and tendons.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="worsenedByMovingTheLimb-button922" class="button button-calm button-block">Find Near You</a>
      <h5 id="worsenedByMovingTheLimb-heading1351" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="worsenedByMovingTheLimb-list-item-container1232">
        <div id="worsenedByMovingTheLimb-markdown2292" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day for the first 48 hours. Then dissolve 5 pellets under the tongue twice a day for 3 weeks.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="worsenedByMovingTheLimb-card2792">
      <ion-item id="worsenedByMovingTheLimb-list-item1226">Bryonia 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg"  >
      </div>
      <div class="item item-body" id="worsenedByMovingTheLimb-list-item-container1233">
        <div id="worsenedByMovingTheLimb-markdown2293" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Bryonia relieves pain worsened by the slightest motion.</p>
        </div>
      </div>
      <a ui-sref="homeopathy.findAStore()" id="worsenedByMovingTheLimb-button923" class="button button-calm button-block">Find Near You</a>
      <h5 id="worsenedByMovingTheLimb-heading1352" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="worsenedByMovingTheLimb-list-item-container1234">
        <div id="worsenedByMovingTheLimb-markdown2294" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day for 2 days.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="worsenedByMovingTheLimb-heading1353" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="worsenedByMovingTheLimb-markdown2295" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by the Homeopathy app is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="worsenedByMovingTheLimb-markdown2296" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="homeopathy.homeopathicDilutions()" id="worsenedByMovingTheLimb-button924" style="color:#FFFFFF;" class="button button-calm button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>